PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE Overwatch_Heros (
    Hero_Name VARCHAR(50),
    Role VARCHAR(20),
    Is_Projectile BOOLEAN, -- Added comma
    Health INT,            -- Added comma
    Primary_Key INT PRIMARY KEY
);
INSERT INTO Overwatch_Heros VALUES('Tracer','Damage',0,175,1);
INSERT INTO Overwatch_Heros VALUES('Reinhart','Tank',0,400,200);
INSERT INTO Overwatch_Heros VALUES('Lucio','Support',1,225,100);
COMMIT;
